{
  "env": {
    "development": {
      "plugins": [
        "syntax-flow",
        "transform-flow-comments",
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
        "syntax-flow",
        "transform-flow-comments"
      ]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "node": 5
      }
    }]
  ]
}
